@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.texte {
    color: #435fbc;
    position: relative;
    top: 30px;
}
.top {
    top: 20px;
    background-color: white;
    border-style: none;
}

.cadre {
    border-radius: 10px;
    padding: 30px;
    margin-top: 40px;
    width:710px;
    position:relative;
    left:100px;
    top:30px;
    margin-right: 310px;
    border-style: ridge;
    border-color: white;
    box-shadow: 16px, 16px, 16px, white;
    color: black;
}


#nommed {
    position: relative;
    
    width: 635px;
}
#nomp {
    position: relative;
    
    width: 635px;
}

#service {
    position: relative;
    left: 14px;
    width: 635px;
}

#lidc {
    position: relative;
    left: 14px;
}

.active {
    color: orange;
}

.texte {
    color: #435fbc;
}

#dateconsultation {
    position: relative;
    left: 14px;
    width: 635px;
}

#dateconsult {
    position: relative;
    left: 14px;
}

#lbl_glycemie {
    position: relative;
    left: 14px;
}

#input {
    position: relative;
    left: 14px;
    width: 635px;
}

#btn_suivant {
    position: relative;
    top:30px;
    left: 490px;
    border-radius: 10px;
    background-color: #435fbc;
    color: white;
}
